.Header {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(20px + 2vmin);
  color: white;
  letter-spacing: 4px;
} 

